.main{
    height: 500px;
    width: 500px;
    border: 2px black solid;
    padding: 5px;
    margin-bottom: 30px;
}

.interchangable{
    margin-top: 10px;
}

.tooltip{
    font-size: 14px;
    font-style: italic;
}

.deckList {
    margin-top: 10px;
    height: 420px;
    overflow-y: auto;
}

.deckList li{
    display: flex;
    list-style-type: none;
    border: 1px black solid;
    border-radius: 5px;
    margin: 3px 5px 8px 5px;
    padding: 5px;
}

.editDeck{
    margin-left: auto;
}

.editDeck button{
    margin-left: 10px;
    padding: 3px;
}

@media (prefers-color-scheme: dark) {
    
}