.main{
    margin-top: 10px;
    top: 0;
    width: 100%;
}

.drawArea{
    width: 500px;
    margin: auto;
}

.paint{
position: absolute;
border: 2px solid black;
width: 500px;
height: 500px;
margin: auto;
}

.buttons{
    position: absolute;
}

.buttons > * {
    margin-right: 10px;
}

.kanjiInfo{
    display: flex;
    margin-right: 0;
    margin-left: auto;
    width: 400px;
    height: 200px;
    border: 1px solid black;
}