.drawArea{
    width: 500px;
    height: 500px;
}

.canvas{
    background-color: white;
    border: 1px solid black;
}

.buttons{
    margin: 5px 0 5px 0;
    height: 20px;
}

.buttons > * {
    margin-right: 10px;
}

.addToDeck{
    margin-top: auto;
}