.main{
    margin-top: 10px;
    width: 500px;
    height: 500px;
}

.drawArea{
    width: 500px;
    height: 500px;
    margin: auto;
}

.paint{
position: absolute;
border: 2px solid black;
width: 500px;
height: 500px;
margin: auto;
}

.buttons{
    height: 20px;
}

.buttons > * {
    margin-right: 10px;
}

.kanjiInfo{
    display: flex;
    margin: 10px 50px 0 auto;
    width: 400px;
    height: 200px;
    border: 1px solid black;
}