.main{
    height: 100%;
    margin: 0 10px 0 0;
}

.kanjiInfo{
    display: flex;
    width: 500px;
    height: 250px;
    border: 1px solid black;
    margin: auto;
}

.deckManager{
    display: flex;
}

.deckSelector{
    margin-left: 5px;
}

.deckSelector select {
    height: 25px;
}

@media only screen and (max-width: 768px) {
    .main{
        margin: 0px 0px 0px 0px;
    }

    .kanjiInfo{
        margin: 0 0 20px 0;
    }
}