.searchBox{
    display: flex;
}

.searchText{
    margin-right: 5px;
    display: flex;
}

.searchText p {
    margin-right: 3px;
}

.kanjiListGrid{
    margin-top: 5px;
}

.kanjiList{
    height: 100%;
    margin-left: auto;
    margin-top: 15px;
}

.kanjiList ul{
    display: flex;
    flex-wrap: wrap;
}

.kanjiList li{
    list-style-type: none;
}

.noKanjiFound{
    font-size: 20px;
    margin: 10px 0 0 0;
}

.pageButtons {
    margin-left: 10px;
    display: flex;
}

.pageButtons > * {
    margin-right: 10px;
}

.loading{
    width: 200px;
}

.listAndDrawArea {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.deckSelector {
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .listAndDrawArea {
        display: flex;
        width: 500px;
        flex-direction: column;
    }

    .searchBox{
        justify-content: space-between;
    }

    .loading{
        position: absolute;
        width: 100px;
        transform: translate(-70px, -17px);
    }
}