.searchBox{
    display: flex;
}

.searchText{
    margin-right: 5px;
}

.kanjiList{
    height: 100%;
}

.kanjiList ul{
    display: flex;
    flex-wrap: wrap;
}

.kanjiList li{
    list-style-type: none;
}

.pageButtons {
    margin-left: 10px;
    display: flex;
}

.pageButtons > * {
    margin-right: 10px;
}

.listAndDrawArea {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.deckSelector {
    margin-left: 20px;
}