.body{
    display: flex;
    justify-content: baseline;
}

.bodyStudy{
    display: flex;
    justify-content: center;
}

.searchBox{
    display: flex;
    height: 30px;
    align-items: center;
}

.searchText{
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.searchText input{
    height: 25px;
}

.searchText p {
    margin-right: 3px;
}

.kanjiListGrid{
    margin-top: 5px;
}

.kanjiList{
    height: 100%;
    margin-left: auto;
}

.kanjiList ul{
    display: flex;
    flex-wrap: wrap;
}

.kanjiList li{
    list-style-type: none;
}

.noKanjiFound{
    font-size: 20px;
    margin: 10px 0 0 0;
}

.pageButtons {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.pageButtons > * {
    margin-right: 10px;
}

.pageButtons button{
    width: 40px;
    height: 25px;
}

.loading{
    width: 200px;
}

.listAndDrawArea {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.listAndDrawAreaStudy{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.deckSelector{
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.deckSelector select {
    height: 28px;
    width: 100px;
    margin-right: 15px;
}

@media only screen and (max-width: 768px) {
    .body{
        justify-content: center;
    }

    .listAndDrawArea {
        display: flex;
        width: 500px;
        flex-direction: column;
    }

    .searchText{
        margin: 0px;
    }

    .searchBox{
        justify-content: space-between;
        align-items: baseline;
        width: 500px;
    }

    .deckSelector select {
        height: 28px;
        width: auto;
        margin: 0px 0px;
    }

    .pageButtons{
        margin: 0px;
    }

    .pageButtons > * {
        margin-right: 0px;
    }

    .pageButtons button{
        width: 22px;
    }

    .pageNumber{
        width: 85px;
    }

    .loading{
        position: absolute;
        width: 150px;
        transform: translate(-90px, 0px);
    }
}