.main{
    height: 500px;
    width: 500px;
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

.interchangable{
    margin-top: 10px;
    height: 430px;
}

.tooltip{
    font-size: 14px;
    font-style: italic;
}

.deckList {
    margin-top: 10px;
    height: 420px;
    overflow-y: auto;
}

.deckList li{
    display: flex;
    list-style-type: none;
    border: 1px black solid;
    border-radius: 5px;
    margin: 3px 5px 8px 5px;
    padding: 5px;
}

.editDeck{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.editDeck button{
    margin-left: 10px;
    padding: 3px;
}

.deckNumbers span{
    margin-right: 15px;
}

.editingDeck{
    height: 100%;
    width: 100%;
}

.editingDeck tr{
    width: 100%;
}

.deckButton{
    height: 30px;
    width: 150px;
}

.deleteButtons{
    display: flex;
    justify-content: space-between;
}

.kanjiInDeckList{
    height: 300px;
    overflow: scroll;
}

@media (prefers-color-scheme: dark) {
    .main{
        border-color: white;
    }

    .deckList li{
        border-color: white;
    }
}