.main{
    height: 100%;
    margin: 0 10px 0 0;
}

.kanjiInfo{
    display: flex;
    width: 500px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
}

.deckManager{
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
}

.deckManagerButtons{
    display: flex;
    margin-bottom: 2px;
}

.deckSelector{
    margin-left: 5px;
}

.deckSelector select {
    height: 25px;
}

.notSignedIn{
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
}

@media only screen and (max-width: 768px) {
    .main{
        margin: 0px 0px 0px 0px;
    }

    .kanjiInfo{
        margin: 0 0 20px 0;
    }
}

@media (prefers-color-scheme: dark) {
    .kanjiInfo{
        border-color: white;
    }

    .kanji{
        filter: invert(100%) sepia(10%) saturate(16%) hue-rotate(151deg) brightness(98%) contrast(105%);
    }
}