.overlay{
    position: relative;
}

.kanji{
    width: 500px;
    height: 500px;
    opacity: 0.25;
    position: absolute;
}

@media (prefers-color-scheme: dark) {
    .kanji{
        filter: invert(100%) sepia(10%) saturate(16%) hue-rotate(151deg) brightness(98%) contrast(105%);
    }
}