.main{
    height: 500px;
    width: 500px;
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

.interchangable{
    margin-top: 10px;
    height: 430px;
}

.deckManagerTitle{
    font-family: 'UDDigitalKyokasho';
}

.tooltip{
    font-size: 14px;
    font-style: italic;
}

.deckList {
    margin-top: 10px;
    height: 400px;
    overflow-y: auto;
}

.deckList li{
    display: flex;
    list-style-type: none;
    border: 1px black solid;
    border-radius: 5px;
    margin: 3px 5px 8px 5px;
    padding: 5px;
}

.deckTitle{
    font-family: 'UDDigitalKyokasho';
    font-weight: bold;
}

.editDeck{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.editDeck button{
    margin-left: 10px;
    padding: 3px;
}

.editKanji{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.editKanji button{
    margin: 0 10px 0 10px;
    width: 30px;
    height: 30px;
}

.selectedKanji{
    height: 100px;
    overflow-y: scroll;
}

.deckNumbers span{
    margin-right: 15px;
}

.editingDeck{
    height: 100%;
    width: 100%;
}

.editingDeck tr{
    width: 100%;
}

.deckButton{
    height: 30px;
    width: 150px;
}

.deckNameInput, .deckNameButton{
    height: 30px;
    margin-right: 5px;
    padding: 3px;
}

.backupButton{
    height: 30px;
    margin-left: 45px;
}

.deleteButtons{
    display: flex;
    justify-content: space-between;
}

.kanjiInDeckList{
    height: 320px;
    overflow-y: auto;
}

.kanjiList{
    height: 280px;
    overflow-y: auto;
}

.dueDateText{
    margin-left: auto;
    margin-right: 5px;
}

.bamboozle{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.bamboozle span{
    margin-left: 10px;
    font-family: 'UDDigitalKyokasho';
    font-weight: bold;
}

.bamboozle button{
    height: 50px;
    width: 100px;
    font-family: 'UDDigitalKyokasho';
    font-weight: bold;
    border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
    .main{
        border-color: white;
    }

    .deckList li{
        border-color: white;
    }
}