.main{
    height: 420px;
    border-top: 1px solid black;
    padding-top: 8px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings{
    overflow-y: auto;
    height: 270px;
}

.hintDiv{
    margin: 20px 5px 0 5px;
}

.hintDiv * {
    height: 25px;
    margin-right: 5px;
}

.hintText {
    font-size: 18px;
    text-decoration: underline;
}

.sureButton{
    width: 80px;
    height: 30px;
    margin-right: 10px;
}

.importantButtons{
    display: flex;
    justify-content: space-between;
}

.importantButtonsButton{
    height: 50px;
    width: 100px;
    margin-top: auto;
}

@media (prefers-color-scheme: dark) {
    .main{
        border-top: 1px solid white;
    }
}