.main{
    margin-top: 10px;
    height: 300px;
}

.quitDiv{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.quitButton{
    width: 100px;
    height: 25px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 190px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.hint{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    width: 500px;
    height: 80px;
    padding: 10px;
}

.hint p{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.showAnswerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.showAnswerDiv button{
    width: 200px;
    height: 50px;
}

.cardCounts{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 500px;
    transform: translate(-5px, 630px);
    padding-bottom: 20px;
}

.cardCounts span{
    margin: 0 7px;
}

.optionsScreen {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.editCardScreen {
    width: 400px;
}

.editCardScreenButtons{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    padding-right: 20px;
    border-right: 1px solid black;
}

.editCardScreenButtons button{
    margin-bottom: 30px;
    height: 50px;
}

@media (prefers-color-scheme: dark) {
    .info{
        border-color: white;
    }
    .kanji{
        filter: invert(100%) sepia(10%) saturate(16%) hue-rotate(151deg) brightness(98%) contrast(105%);
    }

    .hint{
        border-color: white;
    }

    .editCardScreenButtons{
        border-right: 1px solid white;
    }
    
}