.signIn{
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.welcome{
    text-align: center;
    margin-right: 10px;
}

.signIn button{
    height: 40px;
    width: 75px;
}

@media only screen and (max-width: 768px) {
    .signIn{
        margin-right: 0px;
    }
}